body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-card{
  display: flex;

}

.user-info{
  margin-left: 2%;
}

.user-card img{
  width: 30%;
}

.followers{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.follower{
  width: 20%;
  margin: 2%;
}
.follower img{
  width: 100%;
  height: 20vh;
}